<div class ="side-bar">
  <div class = "item">
    <%= link_to "Room", rooms_path %>
  </div>
  <div class = "item">
    <%= link_to "ユーザー", users_path %>
  </div>
  <div class = "item">
    <%= link_to "未解決質問" %>
  </div>
</div>