<div class = "advice-write">
  <div class = "advice-main"> 
    <div class = "advice-public">
      <!-- 公開非公開ボタン -->
      <%= f.label :public, "公開" %>
      <%= f.check_box :public %>
      <!-- 公開非公開ボタン -->
    </div>
    <div class = "advice-form">
      <%= f.text_field :content, class: 'form-advice', placeholder: '回答を入力してください' %>
    </div>
    <div class = "advice-sent">
      <%= f.submit '回答', class: 'form-submit' %>
    </div>
  </div>
</div>


