<div class="room-new">
  <div class="room-create">
    <%= form_for @room do |f| %>
      <%= f.label :name, "Room名", class: :room_column %><br />
      <%= f.text_field :name, id: "room-name", class: :room_form %>
      <%= f.submit "作成", formaction: rooms_path, class: :form__btn %>
    <% end %>
  </div>
</div>